.foot {
    text-align: center;
}

.icon ul li {
    list-style: none;
    display: inline-block;
    margin-top: 5%;
}

.icon i {
    text-align: center;
    color: white;
    font-size: 14px;
    padding-right: 3px;
    cursor: pointer;
}

.icon i:hover {
    color: darkblue;
    transition: 1.5s;
}

.bottom {
    background-color: darkblue;
    color: white;
    padding: 20px 0px;
}

.bottom span {
    color: orangered;
    font-weight: 600;
    font-size: 16px;
}